/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* CUSTOM PROPERTIES */
:root {
    --gutter: 10px;
}

/* TIPOGRAPHY */
body {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    color: #E53170;
    font-weight: 700;
}

h1, p {
    text-align: center;
    margin: 40px var(--gutter);
}

/* GENERAL */
.container {
    max-width: 900px;
    margin: 0 auto;
}

/* BODY */
/* card */
#card-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card-list > li {
    max-width: calc(100% / 3);
    flex-grow: 1;
}

.card {
    display: flex;
    color: blue;
    background-color: black;
    margin: var(--gutter);
    padding-right: 5px;
    /* width: 100%; */
    /* height: 100%; */
}

.card-photo {
    width: 30%;
    height: 100%;
}

.card-photo > img {
    display: block;
    width: 100%;
    height: 100%;
}

.card-info {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.card-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.card-role {
    font-weight: 400;
    text-transform: capitalize;
}

.card-email {
    color: #6ECBF2;
}



/* MEDIA QUERY */
@media screen and (max-width: 830px) {
    #card-list > li {
        max-width: calc(100% / 2);
    }
}

@media screen and (max-width: 560px) {
    #card-list > li {
        max-width: 100%;
    }

    .card-photo {
        max-width: 35%;
    }
}